/* Dashboard styling */

.css-10hburv-MuiTypography-root {
  font-size: 0.9rem !important;
}
.contentPanel {
  padding: 4vh 4vw;
  width: 100%;
  height: 95vh;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contentPanel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contentPanel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.Mui-Header-Custom {
  background-color: unset !important;
  box-shadow: none !important;
  overflow: visible;
}
.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
  box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
  border: none !important;
  overflow: hidden;
}
.header-tab {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  border-radius: 0.428rem;
}
.left-menue-list-button {
  margin: 0px 12px !important;
}
.onclose-active {
  position: absolute;
  top: 16px;
  right: -7px;
  font-size: 20px;
}
.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
  background-color: unset !important;
}
thead {
  background-image: linear-gradient(to left, #8e2de208, #5603ff14);
}
